@model BibliotecaMvc.Models.Livro

<h2>Detalhes do Livro</h2>

<div>
    <h4>Detalhes:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Cod. do Livro</dt>
        <dd class="col-sm-10">@Model.IdLivro</dd>
        <dt class="col-sm-2">Título:</dt>
        <dd class="col-sm-10">@Model.Titulo</dd>
        <dt class="col-sm-2">Autor:</dt>
        <dd class="col-sm-10">@Model.Autor</dd>
        <dt class="col-sm-2">Categoria:</dt>
        <dd class="col-sm-10">@Model.Categoria</dd>
        <dt class="col-sm-2">Situação:</dt>
        <dd class="col-sm-10">
            @{
                var status = Model.EstaDisponivel ? "Disponível" : "Emprestado";
                <text>@status</text>
            }
        </dd>


    </dl>
</div>

<div>
    
     @Html.ActionLink("Editar", "Edit", new { IdLivro = Model.IdLivro }) |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
