@model IEnumerable<BibliotecaMvc.Models.EmprestismoDeLivros>

<h2>Lista de Empréstimos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Cod. da Transacao</th>
            <th>Cod. do Livro</th>
            <th>Cod do Usuario</th>
            <th>Data Empréstimo</th>
            <th>Data  de Devolução Prevista</th>
            <th>Data da Devolução Realizada</th>
            <th>Ações</th> 
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var emprestimo in Model)
            {
                <tr>
                    <td>@emprestimo.IdTransacao</td>
                    <td>@emprestimo.IdLivro</td>
                    <td>@emprestimo.IdUsuario</td>
                    <td>@emprestimo.DataEmprestimo</td>
                    <td>@emprestimo.DataDevolucaoPrevista</td>
                    <td>@(emprestimo.DataDevolucaoRealizada.HasValue ? emprestimo.DataDevolucaoRealizada.Value.ToString() : "Não devolvido")</td>
                    <td>
                        
                        @if (!emprestimo.DataDevolucaoRealizada.HasValue)
                        {
                            <a asp-action="RealizarDevolucao" asp-route-IdTransacao="@emprestimo.IdTransacao">Realizar Devolução</a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">Nenhum empréstimo encontrado.</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Create" class="btn btn-success">Novo Empréstimo</a>
</div>
