@model IEnumerable<BibliotecaMvc.Models.EmprestismoDeLivros>

<h2>Lista de Empréstimos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id Transacao</th>
            <th>Id Livro</th>
            <th>Id Usuario</th>
            <th>Data Emprestimo</th>
            <th>Data Devolucao Prevista</th>
            <th>Data Devolucao Realizada</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var emprestimo in Model)
            {
                <tr>
                    <td>@emprestimo.IdTransacao</td>
                    <td>@emprestimo.IdLivro</td>
                    <td>@emprestimo.IdUsuario</td>
                    <td>@emprestimo.DataEmprestimo</td>
                    <td>@emprestimo.DataDevolucaoPrevista</td>
                    <td>@(emprestimo.DataDevolucaoRealizada.HasValue ? emprestimo.DataDevolucaoRealizada.Value.ToString() : "Não devolvido")</td>
                    <td>
                        
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">Nenhum empréstimo encontrado.</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Create" class="btn btn-success">Novo Empréstimo</a>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary">Nova Devolução</a>
</div>
